.logout-page {
  width: 300px;
  min-height: 150px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #32425c;
}

.logout-page .button-type {
  margin-right: 10px;
  margin-left: 10px;

  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;

  border: none;
  border-radius: 2px;
  cursor: pointer;

  padding: 5px 15px;

  color: #ffffff;
  background-color: #32425c;
}

.logout-page .button-type:hover {
  opacity: 0.8;
}
