.filter-catalog {
  max-width: 220px;
  min-height: 770px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: 130px;
}
.filter-catalog .filterh2 {
  max-width: 220px;
  min-height: 38px;
  background-color: #f7f3ec;
}
.filter-catalog .filter-headline {
  margin: 0;
  padding: 0;

  padding-top: 8px;
  padding-left: 19px;
  box-sizing: border-box;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;

  text-transform: uppercase;
}

.filter-catalog .manufacturer {
  max-width: 220px;
  min-height: 263px;
}
.filter-catalog fieldset {
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
}
.manufacturer legend {
  margin: 0;
  padding: 0;

  padding-top: 18px;
  margin-left: -13px;
  box-sizing: border-box;
  margin-bottom: 8px;

  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
}
.manufacturer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-option {
  margin-bottom: 20px;
  padding-left: 22px;
}
.filter-option:last-child {
  margin-bottom: 0px;
}
.filter-option label {
  display: block;
  cursor: pointer;
  user-select: none;

  position: relative;
}
.filter-input-checkbox:not(cheсked) + label::before {
  content: "";

  position: absolute;
  left: -33px;

  width: 23px;
  height: 23px;

  background-image: url("./img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}
.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0px;
  left: -34px;

  width: 27px;
  height: 23px;

  background-image: url("./img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}
.filter-input-checkbox:focus + label {
  border: 1px solid #3bbce3;
}
.filter-input-radio:focus + label {
  border: 1px solid #3bbce3;
}
.filter-input-checkbox:focus + label:after,
.filter-input-checkbox:focus + label:before,
.filter-input-radio:focus + label:after,
.filter-input-radio:focus + label:before {
  opacity: 1;
}
.checkbox:hover::after,
.checkbox:hover::before {
  opacity: 1;
}
.filter-catalog .supply {
  max-width: 220px;
  min-height: 264px;
}
.supply legend {
  margin: 0;
  padding: 0;

  padding-top: 18px;
  margin-left: -13px;
  box-sizing: border-box;
  margin-bottom: 8px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.supply ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-input-radio:not(cheсked) + label::before {
  content: "";

  position: absolute;
  left: -33px;

  width: 25px;
  height: 25px;

  background-image: url("./img//radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}
.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 0px;
  left: -34px;

  width: 27px;
  height: 23px;

  background-image: url("./img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}
.radio:hover::after,
.radio:hover::before {
  opacity: 1;
}
.filter-input-checkbox:disabled + label {
  opacity: 0.4;
  cursor: default;
}
.filter-input-radio:disabled + label {
  opacity: 0.4;
  cursor: default;
}
.filter-catalog .show {
  display: inline-block;
  vertical-align: top;
  padding: 10px 39px;
  margin-top: 70px;

  color: #000000;
  background-color: #ffffff;
  border: 1px solid lightgray;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  cursor: pointer;
}
