
/* main */

/* footer */

/* modal*/
/* modal */
.modal-catalog {
  width: 620px;
  min-height: 276px;

  position: fixed;
  top: 120px;
  left: 50%;
  margin-left: -230px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  box-shadow:  0 0 15px 2px rgba(0, 0, 0, 0.5);
  text-transform: none;
  z-index: 20;
}
.modal-catalog {
  display: none;
}
.modal-catalog .modal-close {
  content: "";

  position: absolute;
  top: 16px;
  right: 8px;

  width: 21px;
  height: 21px;

  padding: 0;

  background-image: url("../img/svg-technomart/icon-close.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  }
.modal-catalog .narrative {
  min-height: 165px;
  width: 100%;

  background-color: #ffffff;
  border-top: 6px solid #fd4f51;

  position: relative;
}
.modal-catalog p {
  margin-top: 65px;
  margin-left: 179px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}
.narrative::before {
  content: "";

  width: 66px;
  height: 66px;

  position: absolute;
  left: 81px;
  top: 49px;

  background-color: #63a63d;
  border-radius: 50%;
}
.narrative::after {
  content: "";

  width: 26px;
  height: 13px;

  position: absolute;
  left: 98px;
  top: 69px;

  border: 7px solid #ffffff;
  transform: rotate(-45deg);
  border-top: none;
  border-right: none;
}
.modal-maps {
	display: none;
}
.modal-maps {
	width: 940px;
	height: 445px;

	position: fixed;
	top: 80px;
	left: 50%;
	margin-left: -470px;

	box-shadow:  0 0 15px 2px rgba(0, 0, 0, 0.5);
	z-index: 35;
}
.modal-maps p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	margin: 0;
}
.modal-maps iframe {
	position: relative;
	z-index: 2;

	border: none;
}
.modal-maps img {
	width: 100%;
}
.modal-maps .modal-close {
	content: "";

	position: absolute;
	top: 8px;
	right: 8px;

	width: 21px;
	height: 21px;

	background-image: url("../img/svg-technomart/icon-close.svg");
	padding: 0;
	border: 0;
	background-color: transparent;

	cursor: pointer;
	z-index: 4;
}
@keyframes bounce {
  0% {
    transform: translateY(-200px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}
.modal1 {
	width: 621px;
	min-height: 430px;

	position: fixed;
	top: 120px;
	left: 50%;
	margin-left: -230px;

	box-shadow:  0 0 15px 2px rgba(0, 0, 0, 0.5);
	z-index: 40;

	background-color: #ffffff;
	color: #000000;
	font-weight: bolder;
}
.modal1 {
	display: none;
}
.modal-show {
	display: block;

	animation-name: bounce;
	animation-duration: 0.6s;
}
.modal-error {
	animation-name: shake;
	animation-duration: 0.6s;
}
.modal1 .modal-close {
	content: "";

	position: absolute;
	top: 16px;
	right: 8px;

	width: 21px;
	height: 21px;

	background-image: url("../img/svg-technomart/icon-close.svg");
	padding: 0;
	border: 0;
	background-color: #ffffff;

	cursor: pointer;
}
.modal1-upper {
	min-height: 319px;
	width: 621px;

	display: flex;
	flex-direction: column;
	padding: 48px 83px 28px 80px;
	box-sizing: border-box;

	border-top: 6px solid #fd4f51;
}
.modal1-upper .name-mail {
	min-height: 72px;

	display: flex;
	flex-direction: row;
	margin-bottom: 14px;

	text-transform: none;
}
.name-mail label {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: -0.4px;
}
.name-mail input[type="text"],
.name-mail input[type=password] {
	width: 220px;

	padding: 7px 15px 10px 15px;
	box-sizing: border-box;
	margin-top: 10px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	border: none;
	border: 1px solid lightgray;
	border-radius: 3px;
}
.name-mail input[type="text"] {
	margin-right: 20px;
}
.modal1-upper .text-of-the-letter {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: -0.2px;
}
.modal1-upper textarea {
	width: 100%;

	margin-top: 10px;
	padding: 8px 14px;
	box-sizing: border-box;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	border-radius: 3px;
}
.modal1-lower {
	min-height: 109px;
	width: 100%;

	background-color: #f4f4f4;
	padding: 38px 80px 35px 80px;

	box-sizing: border-box;
}
.modal1-lower .button-modal1 {
	width: 100%;

	display: block;
	padding: 10px 198px;

	color: #ffffff;
	background-color: #ee3643;
	border: none;
	border-radius: 5px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;
}
/*  catalog page */

.modal-catalog .modal-catalog-lower {
	min-height: 111px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	padding: 36px 80px 37px 80px;
	box-sizing: border-box;

	background-color: #f1f1f1;
}
.modal-catalog .formalize-order {
	padding: 10px 62px 10px 59px;

	color: #ffffff;
	background-color: #ee3643;
	border: none;
	border-radius: 5px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;
}
.modal-catalog .continuation {
	padding: 10px 47px 10px 43px;

	color: #000000;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;

	cursor: pointer;
}
