html,
body {
  min-width: 1200px;
}
body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  color: #000000;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
  text-transform: none;
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button:disabled {
  background-color: #000000;
  opacity: 0.5;

  cursor: default;
}
