.item-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border: none;
  margin-left: 130px;
}

.item-details .item-image {
  margin-right: 80px;
}

.card-body h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  text-transform: uppercase;
}

.list-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-details .list-group-item {
  padding: .1rem;
}

.item-details .list-group-item .term{
  margin-right: .5rem;
}

.item-details button {
  margin-top: 5px;
}
