.footer {
  min-height: 300px;
  width: 100%;

  display: flex;
  flex-direction: column;
  margin:0 auto;
  background-color: #32425C;
}
.upper-footer {
  min-height: 193px;
  max-width: 960px;

  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;

  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}
.footer .logotype {
  padding: 0;
  margin: 0;

  max-width: 220px;
  min-height: 68px;

  display: inline-block;
  vertical-align: top;
  align-self: flex-start;
  order: -2;
  padding: 21px 42px 16px 42px;
  box-sizing: border-box;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}
.footer .logotype:hover {
  background-color: #ca2c37;
}
.footer .logotype:active,
.footer .logotype:focus {
  background-color: #ba2732;
}
.footer .logotype-img {
  max-width: 100%;
  height: auto;
}
.layout-contact {
  min-height: 65px;
  max-width: 330px;

  align-self: flex-start;
  margin-top: 25px;
  padding-bottom: 0;
  padding-left: 3px;
}
.layout-contact p {
  margin-top: 0px;

  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  display: block;
  text-transform: none;
}
.tel-footer {
  display: block;

  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}
.tel-footer:hover {
  text-decoration: underline;
}
.tel-footer:active {
  opacity: 0.3;
  text-decoration: none;
}
.nav-footer {
  list-style: none;
  margin: 0;
  padding: 0;

  min-height: 40px;
  max-width: 550px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  order: -1;
}
.nav-footer li {
  margin-top: 0;
  margin-right: 59px;
}
.nav-footer li:nth-child(5n) {
  margin-right: 0;
}
.nav-footer a {
  color: #ffffff;
}
.nav-footer a:hover {
  text-decoration: underline;
}
.nav-footer a:active {
  opacity: 0.3;
  text-decoration: none;
}
.goods {
  list-style: none;
  margin: 0;
  padding: 0;

  min-height: 40px;
  max-width: 525px;

  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-left: auto;
}
.goods li {
  margin-right: 59px;
}
.goods li:nth-child(4n) {
  margin-right: 0;
}
.goods a {
  color: #f1c77e;
}
.goods a:hover {
  text-decoration: underline;
}
.goods a:active {
  opacity: 0.3;
  text-decoration: none;
}
.low-footer {
  min-height: 107px;
  width: 100%;

  margin: 0 auto;

  color: #ffffff;
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}
.low-footer-container {
  min-height: 107px;
  max-width: 960px;

  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 35px 10px 30px 10px;
  box-sizing: border-box;
}
.copyright {
  margin: 0;

  min-height: 40px;
  max-width: 230px;

  align-self: flex-start;
  margin-right: 160px;
  padding-top: 3px;
  padding-left: 1px;
  box-sizing: border-box;
}
.social {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 133px;
  min-height: 42px;

  align-self: flex-start;
  margin-top: 1px;

  position: relative;
}
.social .vk::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 41px;
  height: 41px;

  background-image: url("./img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-color: #212a3a;
}
.social .vk:hover::after,
.social .vk:active::after,
.social .vk:focus::after {
  background-color: #ee3643;
}
.social .fb::after {
  content: "";

  position: absolute;
  top: 0;
  left: 46px;

  width: 41px;
  height: 41px;

  background-image: url("./img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-color: #212a3a;
}
.social .fb:hover::after,
.social .fb:active::after,
.social .fb:focus::after {
  background-color: #ee3643;
}
.social .insta::after {
  content: "";

  position: absolute;
  top: 0;
  left: 92px;

  width: 41px;
  height: 41px;

  background-image: url("./img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-color: #212a3a;
}
.social .insta:hover::after,
.social .insta:active::after,
.social .insta:focus::after {
  background-color: #ee3643;
}
.layout-developer {
  min-height: 45px;
  max-width: 300px;

  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-left: auto;
}
.layout-developer .feedback {
  min-height: 45px;
  max-width: 140px;

  margin-top: 3px;
  margin-right: 48px;
}
.layout-developer .developer {
  min-height: 45px;
  max-width: 111px;
  margin-top: 3px;
}
.feedback a,
.developer a {
  color: #d4b275;
}
.feedback a:hover,
.developer a:hover {
  text-decoration: underline;
  color: #d4b275;
}
.feedback a:active,
.feedback a:focus,
.developer a:active,
.developer a:focus {
  color: #d4b275;
  text-decoration: none;
  opacity: 0.4;
}
